.mos-order-form {
  margin-top: 6rem !important;
}

.mos-order-form .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.mos-order-form .form-group .form-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mos-order-form .form-group .form-block .form-block-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.mos-order-form .form-group .form-block .form-block-element label {
  font-size: var(--wp--preset--font-size--body-small);
  font-weight: 700;
  letter-spacing: 0.03em;
}

.mos-order-form .form-group .form-block h5 {
  margin: 0;
}

.form-block-load-design .form-block-element {
  display: block;
  cursor: pointer;
  text-align: left;
  background: #ffffff;
  position: relative;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.form-block-load-design .form-block-element .file-select-button {
  display: inline-flex;
  font-family: var(--wp--preset--font-family--sans);
  font-size: var(--wp--preset--font-size--body-medium);
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 24px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  border-style: none;
  padding: 0.1875rem 0.75rem;
  text-align: center;
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--on-surface);
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.form-block-load-design .form-block-element .file-select-button {
  transition-property: stroke, color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.form-block-load-design .form-block-element .file-select-button svg {
  stroke: var(--wp--preset--color--on-surface);
  transition-property: stroke, color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.form-block-load-design .form-block-element:hover .file-select-button svg {
  stroke: var(--wp--preset--color--surface);
}

.form-block-load-design .form-block-element .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.form-block-load-design .form-block-element:hover .file-select-button {
  background: var(--wp--preset--color--on-surface);
  color: #ffffff;
}

.form-block-load-design .form-block-element input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.form-block-element-select {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-block-element-select p {
  margin: 0 !important;
}

.form-control::file-selector-button {
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 6px;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 100%;
  border-color: transparent;
}
