.mos-order-form {
  margin-top: 9rem !important;
}

.mos-order-form .form-wrapper {
  display: flex;
  flex-direction: column;
  /*gap: 6rem;*/
  padding: 3rem;
  width: 100%;
  border-radius: 6px;
  background-color: #f9f7f1;
}

.mos-order-form .form-wrapper:not(:last-child) {
  margin-bottom: 6rem;
}

.mos-order-form .form-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mos-order-form .form-block .form-block-header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: #f5f0e7;
  padding: 1rem;
  border-radius: 6px;
}

.mos-order-form .form-block .form-block-header h6 {
  font-size: var(--wp--preset--font-size--title-small);
  margin: 0;

}

.mos-order-form .form-block .form-block-header > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 2px solid var(--wp--preset--color--primary);
  border-radius: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-weight: 600;
}

.mos-order-form .form-block .form-block-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 48%;
  padding: 0 0 4rem 0;
}

.mos-order-form .form-block .form-block-body label {
  font-size: var(--wp--preset--font-size--body-small);
  font-weight: 700;
  letter-spacing: 0.03em;
}

.mos-order-form .form-file {
  display: none;
}

/* Form Block Accordion */
.form-block .form-block-body {
  visibility: visible;
  opacity: 1;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.form-block.hidden .form-block-body {
  height: 0;
  visibility: hidden;
  padding: 0;
  opacity: 0;
}