.mos-hero-subscriber {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--wp--custom--spacing--p-y) var(--wp--custom--spacing--p-x);
  background-color: var(--wp--preset--color--surface-variant);
}

.wp-block-mos-blocks-auth-user-hero {
  padding: 6rem 0;
}

.wp-block-mos-blocks-auth-user-hero h2,
.wp-block-mos-blocks-auth-user-hero h6 {
  margin: 0;
  text-transform: capitalize;
}

.wp-block-mos-blocks-auth-user-hero h2 {
  font-weight: 900;
}
